deb http://{{ country_code }}.archive.ubuntu.com/ubuntu/ {{ apt_release_code }} {{ sections }}
deb http://{{ country_code }}.archive.ubuntu.com/ubuntu/ {{ apt_release_code }}-security {{ sections }}
deb http://{{ country_code }}.archive.ubuntu.com/ubuntu/ {{ apt_release_code }}-updates {{ sections }}
